### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [2]:
import pandas as pd
import numpy as np

In [4]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 

# Read in the airports data.
airports = pd.read_csv("data/airports.dat", header=None, na_values='\\N')
airports.columns = ["id", "name", "city", "country", "iata", "icao", "latitude", "longitude", "altitude","timezone", "dst", "tz", "type", "source"]

# Read in the airlines data.
airlines = pd.read_csv("data/airlines.dat", header=None, na_values='\\N')
airlines.columns = ["id", "name", "alias", "iata", "icao", "callsign", "country", "active"]

# Read in the routes data.
routes = pd.read_csv("data/routes.dat", header=None, na_values='\\N')
routes.columns = ["airline", "airline_id", "source", "source_id", "dest", "dest_id", "codeshare", "stops", "equipment"]

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

## Answer

In [5]:
print (airports.dtypes)
airports.head ()

id             int64
name          object
city          object
country       object
iata          object
icao          object
latitude     float64
longitude    float64
altitude       int64
timezone     float64
dst           object
tz            object
type          object
source        object
dtype: object

,id,name,city,country,iata,icao,latitude,longitude,altitude,timezone,dst,tz,type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [6]:
print (airlines.dtypes)
airlines.head ()

id           int64
name        object
alias       object
iata        object
icao        object
callsign    object
country     object
active      object
dtype: object

,id,name,alias,iata,icao,callsign,country,active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N

In [7]:
print (routes.dtypes)
routes.head ()

airline        object
airline_id    float64
source         object
source_id     float64
dest           object
dest_id       float64
codeshare      object
stops           int64
equipment      object
dtype: object

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

## Answer 2

In [30]:
#the routes that go to or from Lexington Bluegrass Airport
lex_routes = routes [(routes['source'] == 'LEX') | (routes ['dest'] =='LEX')]
lex_routes

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
3588,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
5763,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ
5764,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4
5765,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
6283,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
9097,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717
9641,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9
20164,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717
20534,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ
20638,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717
21095,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717
21096,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ
21097,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9
21098,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ
21099,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ
21131,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ
21402,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ
28951,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80
29047,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80
29048,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80
29049,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320
29050,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320
29090,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80
29120,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320
29187,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320
36396,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ
36746,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ
56775,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ
57029,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ
57030,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ
57322,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ
58812,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
59096,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD
59544,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7
59545,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD
59546,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
59924,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4

### Inbounds are flights to LEX.

In [9]:
inbound = len (lex_routes [lex_routes['dest'] == 'LEX'])
print ("Inbound route count is " + str(inbound))

Inbound route count is 20

### Outbounds are flights from LEX

In [10]:
outbound = len (lex_routes [lex_routes['source'] == 'LEX'])
print ("Outbound route count is " + str(outbound))

Outbound route count is 20

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

## Answer 3

In [28]:
#merging airline dataframe to the route dataframe
lex_routes_airlines = pd.merge (lex_routes, airlines, left_on = "airline_id", right_on = "id")
lex_routes_airlines

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
3,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
4,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
5,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
6,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
7,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
8,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y
9,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y
10,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
11,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
12,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
13,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
14,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
15,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
16,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
17,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
18,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
19,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
20,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
21,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
22,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
23,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
24,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
25,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
26,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
27,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
28,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y
29,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y
30,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
31,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
32,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
33,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
34,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
35,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
36,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
37,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
38,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
39,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y

In [29]:
#Number of routes each airlines has
lex_routes_airlines['name'].value_counts()

Delta Air Lines             10
Allegiant Air                8
US Airways                   6
American Airlines            6
United Airlines              4
Air France                   2
KLM Royal Dutch Airlines     2
Pinnacle Airlines            2
Name: name, dtype: int64

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

## Answer 4

In [13]:
international = []

for domestic in lex_routes_airlines ['country']:
    if domestic == 'United States':
        international.append ('N')
    else:
        international.append ('Y')

intl_airline_LEX = lex_routes_airlines.assign(International=international)
intl_airline_LEX

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
5,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
6,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
7,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
8,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
9,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
10,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
11,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
12,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
13,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
14,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
15,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
16,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
17,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
18,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
19,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
20,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
21,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
22,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
23,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
24,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
25,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
26,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
27,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
28,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
29,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
30,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
31,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
32,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
33,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
34,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
35,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
36,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
37,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
38,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
39,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [14]:
intl_airline_LEX ['International'].value_counts ()

N    36
Y     4
Name: International, dtype: int64

In [15]:
intl = intl_airline_LEX[intl_airline_LEX ['International']=='Y']
total = intl_airline_LEX['International']

percentage = (len (intl)/len (total))*100

print('Percentage of overseas flights:' + str (percentage) + "%" )

Percentage of overseas flights:10.0%

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.

## Answer 5

In [16]:
# Dataframes with duplicates
lex_duplicates = lex_routes [lex_routes['codeshare'] == 'Y']
lex_duplicates

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
5763,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ
5764,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4
5765,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
6283,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
9097,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717
9641,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9
20534,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ
21096,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ
21097,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9
21099,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ
21131,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ
21402,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ
36396,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ
36746,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ
56775,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ
57029,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ
57030,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ
57322,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ
59546,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
59924,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4

In [27]:
#Dataframe with uniques
lex_uniques = lex_routes [lex_routes['codeshare'] != 'Y']
lex_uniques

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
3588,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
20164,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717
20638,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717
21095,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717
21098,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ
28951,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80
29047,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80
29048,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80
29049,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320
29050,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320
29090,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80
29120,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320
29187,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320
58812,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
59096,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD
59544,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7
59545,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD

In [26]:
lex_unique_inbound = lex_routes [(lex_routes['codeshare'] != 'Y') & (lex_routes['dest']== 'LEX')]
print ("Unique Inbound is:" + str (len (lex_unique_inbound)))

Unique Inbound is:10

In [25]:
lex_unique_outbound = lex_routes [(lex_routes['codeshare'] != 'Y') & (lex_routes['source']== 'LEX')]
print ("Unique Outbound is:" + str (len (lex_unique_outbound)))

Unique Outbound is:9